div {
    background-color: #242424;
    padding: 1rem 0;
}
ul{
    display: flex;
    justify-content: center; /* Horizontally center items */
    align-items: center;      /* Vertically center items */
    list-style-type: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
div ul li {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}
div ul li:hover {
    background-color: rgba(235, 221, 221, 0.2);
    border-radius: 4px;
}